:root {
--darkest-blue: #46425E;
--medium-blue: #15788C;
--light-blue: #00B9BE;
--light-orange: #FFEECC;
--medium-orange: #FFB0A3;
--blood-orange: #FF6973;
--70sgradient: linear-gradient(to right, var(--darkest-blue) , var(--medium-blue), var(--light-blue), var(--light-orange), var(--medium-orange), var(--blood-orange));
--black-gradient: linear-gradient(to bottom, rgba(49, 49, 49, 0.5), rgba(5, 5, 5, 1));
}

html, body {
    height: 100%; /* Set the body and html elements to occupy full height */
    }
    body {
        background-image: var(--70sgradient), var(--black-gradient);
        background-blend-mode:darken;
        background-size: cover;
        margin: 0;
    }

.header-toolbar {
display: flex;
text-align: right;
justify-content: right;
width: 100%;
height: 10%;
}

.background-container {
    width: 100%;
    height: 100%;
    position: absolute;
} 

.background-image {
    background-image: var(--70sgradient);
    width: 100%;
    height: 10%;
    filter: blur(1px);
    position: absolute;
}

.logo {
    right: 40px;
    top: 25px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 10px black;
}

.name {
    left: 40px;
    top: 20px;
    position: absolute;
}

#page-body {
    height: auto;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: 150px;
}

.tile {
    position: relative;
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #ff69737e;
    border: 5px solid #FFB0A3aa;
}

.header-tiles {
    position: relative;
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    flex-direction: row;
    margin-top: 100px;
    overflow: hidden;
    border-radius: 20px;
    background-image: var(--70sgradient);
    border-bottom: 5px solid rgba(37, 37, 37, 0.25);
}

.text {
    position: relative;
    font-family: customFont, monospace;
    font-size: 20px;
    color:white;
}

.title {
    position: relative;
    font-family: customFont, monospace;
    font-size: 60px;
    color: white;
    border-bottom: 5px solid #FFB0A3aa;
}

#discord-icon {
    position: relative;
}

.header-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.header-buttons {
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 20px;
    font-family: customFont, monospace;
}

#home:hover {
    color: red;
}

#home {
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.a {
    text-decoration: none;
}

@font-face {
    font-family: 'CustomFont', monospace;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2) format('woff2');
}