* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --retro-black: #222222;
    --retro-white: #f0f6f0;
    --darkest-blue: #46425E;
    --medium-blue: #15788C;
    --light-blue: #00B9BE;
    --light-orange: #FFEECC;
    --medium-orange: #FFB0A3;
    --blood-orange: #FF6973;
    --bluramount: 15px;
    --seventiesgradient: linear-gradient(to top, var(--darkest-blue), var(--medium-blue), var(--light-blue), var(--light-orange), var(--medium-orange), var(--blood-orange));
    --phongshadedgradient: linear-gradient(to top right, var(--blood-orange), var(--medium-orange), var(--light-orange));
    --black-gradient: linear-gradient(to bottom, rgba(49, 49, 49, 0.5), rgba(5, 5, 5, 1));
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--seventiesgradient);
}

::-webkit-scrollbar-thumb {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    background: rgba(16, 18, 27, 0.5);
    border-radius : 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(16, 18, 27, 0.795);
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    filter: url(#goo);
}

.particle {
    width: 100px;
    height: 100px;
    top: -20%;
    bottom: 20%;
    background-color: rgba(16, 18, 27, 0.8);
    position: absolute;
    border-radius: 50%;
}

body {
    overflow: auto;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to top right, var(--darkest), var(--midtone), var(--lightest));*/
    background-attachment: fixed;
    margin: 0;
}

.musicdesc {
    position: relative;
    text-align: right;
    color: var(--retro-white);
    width: fit-content;
    margin-top: 52px;
    margin-bottom: 20px;
    padding: 22.5px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: rgba(16, 18, 27, 0.5);
    border: 1px solid rgba(51, 53, 65, 0.8);
    backdrop-filter: blur(var(--bluramount));
    z-index: 1;
}

.musicdesc h1, h12 {
    width: 480px;
    text-align: left;
    word-wrap: break-word;
    font-size: 72px;
}

main h6 {
    position: absolute;
    width: 520px;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.musicdesc h12 {
    margin-left: 60px; 
    /* text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722; */
               text-shadow: -4px 4px var(--light-blue),
               -8px 8px var(--medium-blue),
               -12px 12px var(--darkest-blue),
               -16px 16px var(--blood-orange),
               -20px 20px var(--medium-orange),
               -24px 24px var(--light-orange),
               -28px 28px var(--light-blue),
               -32px 32px var(--medium-blue),
               -36px 36px var(--darkest-blue);
}

.musicdesc nav ul li a {
    text-decoration: none;
    color: var(--retro-white);;
}

/* #portfolio {
    backdrop-filter: blur(var(--bluramount));
    padding-bottom: 15vh;
    border-bottom: solid 5px rgba(16, 18, 27, 0.5);
    border: solid 5px rgba(#000, 2);
    background: rgba(16, 18, 27, 0.8) 50%/ cover border-box padding-box;

    &:before {
        position: absolute;
        z-index: -1;
        top: -1px; right: -1px; bottom: -1px; left: -1px;
        border: inherit;
        border-color: transparent;
        background: inherit;
        background-clip: border-box;
        content: '';
        filter: blur(20px);
        backdrop-filter: blur(var(--bluramount));
    }
} */

#portfolio {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    height: fit-content;
}

#about {
    backdrop-filter: blur(var(--bluramount));
    margin-top: 10vh;
    /*border-top: solid 5px rgba(16, 18, 27, 0.5);*/
}

main {
    color: var(--retro-white);
    text-align: center;
}

.pfpdesc {
    display: grid;
    grid-column: auto;
}

.songdetails {
    border-color: rgba(16, 18, 27, 0.4);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    grid-template-rows: 100px;
    text-align: left;
    z-index: 1;
    top: 363.5px;
    left: 10px;
}

.songdetails h1 {
    font-size: 24px;
    word-wrap: break-word;
    text-wrap: wrap;
    width: 275px;
}

.albumart {
    width: 225px;
    border-radius: 5%;
    z-index: 1;
    cursor: pointer;
}

.pfp {
    width: 380px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    cursor: pointer;
    z-index: 1;
}

.description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: 600;
    font-size: 24px;
    position: relative;
    background-color: rgba(16, 18, 27, 0.5);
    border: 1px solid rgba(51, 53, 65, 0.8);
    width: 380px;
    height: 175px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
}

section {
    flex: 1;
    /* margin-bottom: 20px; */
    width: 100%;
}

.project {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    -ms-grid-row-align: center;
    column-gap: 20px;
    width: fit-content;
    align-items: center;
    margin-left: auto;
}

.mods, .sites {
    color: var(--retro-white);
}

.mods p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
}

.mods h4 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
    margin-right: 30%;
    position: absolute;
}

.superheroes, .ait, .k9 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    height: 175px;
    width: 520px;
    padding-left: 100%;
    justify-content: right;
    text-align: center;
    margin-inline: auto;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--retro-white);
    border-radius: 10px;
    background-color: rgba(16, 18, 27, 0.5);
    border: 1px solid rgba(51, 53, 65, 0.8);
    backdrop-filter: blur(var(--bluramount));
}

.lqrsite, .spchey {
    display: inline-block;
    margin-inline: 10px;
    width: 175px;
    height: 175px;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--retro-white);
    border-radius: 10px;
    background-color: rgba(16, 18, 27, 0.5);
    border: 1px solid rgba(51, 53, 65, 0.8);
    backdrop-filter: blur(var(--bluramount));
}

.line {
    margin-top: 160px;
    margin-left: 6%;
    width: 60%;
    height: 5px;
    position: absolute;
    background-color: var(--retro-white);
}

#portfolio h1,
#about h1 {
    position: static;
    margin-bottom: 10px;
}

.project h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    margin: 10px;
}

.project img {
    max-width: 100%;
}

.project a {
    width: 130px;
    height: 130px;
    cursor: pointer;
    text-decoration: none;
}

.mods .listmods, .sites .listsites {
    padding: 0;
    text-decoration: none;
    border-radius: 5%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.mods .listmods:hover {
    margin-top: 1.5px;
    scale: 1.2;
    border: 5px solid var(--retro-white);
}

.sites .listsites:hover {
    scale: 1.35;
}

#dividers {
    position: static;
    width: 100%;
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--retro-white);
    z-index: -1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gridding {
    display: flex;
}

.iconcontainer {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    column-gap: 10px;
    row-gap: 10px;
}

.languageicons {
    background-color: transparent;
}

#css {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    padding-top: 12.5px;
    margin-left: 25px;
    color: white;
    scale: 2;
}

.aboutme {
    border-radius: 10px;
    background-color: rgba(16, 18, 27, 0.5);
    border: 1px solid rgba(51, 53, 65, 0.8);
    backdrop-filter: blur(var(--bluramount));
    padding: 20px;
    width: 45%;
    margin-bottom: 20px;
}

.aboutme p  {
    font-size: 20px;
    margin: 10px;
}

footer {
    bottom: 0;
    position: relative; /* This was previously fixed */
    width: 100%;
    background: var(--retro-black);
    color: var(--retro-white);
    text-align: center;
    background-color: rgba(16, 18, 27, 0.5);
    border: 1px solid rgba(51, 53, 65, 0.8);
    backdrop-filter: blur(var(--bluramount));
    padding-bottom: 5px;
}

.social-media {
    background-color: transparent;
    transition: none;
}

.social-media li {
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    color: var(--retro-white);
}

.filtimg {
    filter: url(#blacktoretrowhite);
}

footer, footer p {
    padding-top: 10px;
    padding-bottom: 5px;
}

svg {
    width: 0;
    height: 0;
}

.description .htmlabout {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    font-size: 30px;
    text-shadow: -2px 2px var(--light-blue),
               -4px 4px var(--medium-blue),
               -6px 6px var(--darkest-blue),
               -8px 8px var(--blood-orange),
               -10px 10px var(--medium-orange),
               -12px 12px var(--light-orange),
               -14px 14px var(--light-blue),
               -16px 16px var(--medium-blue),
               -18px 18px var(--darkest-blue);
}

.description .htmlabout:hover {
    color: transparent;
}

a {
    text-decoration: none;
    color: white;
}
